networks:
  api:
    driver: bridge
  redis:
    driver: bridge
  db:
    driver: bridge

services:
  caddy:
    container_name: caddy
    image: docker.io/caddy:2-alpine
    restart: on-failure
    networks:
      - api
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      - TZ=Asia/Seoul
      - LC_ALL=C.UTF-8
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    depends_on:
      - vinopener-api

  vinopener-api:
    container_name: vinopener-api
    image: vinopener-api
    build: vinopener-api
    restart: on-failure
    networks:
      - api
      - redis
      - db
    expose:
      - 8080
    environment:
      - TZ=Asia/Seoul
      - LC_ALL=C.UTF-8
      - SPRING_PROFILES_ACTIVE=prod
      - REDIS_HOST=redis
      - MARIADB_HOST=mariadb:3306
      - MARIADB_DATABASE
      - MARIADB_USER
      - MARIADB_PASSWORD
      - OAUTH2_GOOGLE_CLIENT_ID
      - OAUTH2_GOOGLE_CLIENT_SECRET
      - OAUTH2_GOOGLE_REDIRECT_URI
      - JWT_ACCESS_SECRET_KEY_BASE64
      - JWT_ACCESS_EXPIRATION_SECONDS
      - JWT_REFRESH_SECRET_KEY_BASE64
      - JWT_REFRESH_EXPIRATION_SECONDS
      - S3_ACCESS_KEY_ID
      - S3_SECRET_ACCESS_KEY
      - S3_REGION
      - S3_BUCKET
      - S3_ENDPOINT
      - S3_PUBLIC_BASE_URL
      - OPENAI_API_KEY
      - OPENAI_ORGANIZATION_ID
      - OPENAI_PROJECT_ID
    depends_on:
      - redis
      - mariadb
  
  redis:
    container_name: redis
    image: docker.io/redis:7-alpine
    restart: on-failure
    networks:
      - redis
    expose:
      - 6379
    environment:
      - TZ=Asia/Seoul
      - LC_ALL=C.UTF-8

  mariadb:
    container_name: mariadb
    image: docker.io/mariadb:11
    restart: on-failure
    networks:
      - db
    expose:
      - 3306
    environment:
      - TZ=Asia/Seoul
      - LC_ALL=C.UTF-8
      - MARIADB_RANDOM_ROOT_PASSWORD=1
      - MARIADB_DATABASE
      - MARIADB_USER
      - MARIADB_PASSWORD
    volumes:
      - mysql_data:/var/lib/mysql
      - ./src/main/resources/schema.sql:/docker-entrypoint-initdb.d/1-schema.sql:ro
      - ./src/main/resources/data.sql:/docker-entrypoint-initdb.d/2-data.sql:ro

volumes:
  caddy_data:
  caddy_config:
  mysql_data:
